<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <title>Display Excel Data</title>
    <style>
        .container{
            display: flex;
        }
        .fixed{
            width: 500px;
        }
        .flex-item{
            flex-grow: 1;
        }
    </style>
    <script src="jquery_functions.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <h1>Student Details</h1>
    <div class="container">
    <div id ="div1" class="fixed">
    <table>
        <tr>
            <td>Student id<input type="text" id="fees_id_1" ></input></td>
        </tr>
        <tr>
            <td>Receipt No<input type = "text" id="rec_no_1" ></input></td>
        </tr>
        <tr>
            <td>Late fees<input type = "number" id="late_fee_1"></input></td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-info" onclick="fees_1(this)">Check</button></td>
        </tr>
    </table>
    <table style="display: none" id="table_1">
        <tr>
            <td>Receipt No.</td>
            <td id="rec_1"></td>
        </tr>
        <tr>
            <td>Admn No.</td>
            <td id="admn_1"></td>
        </tr>
        <tr>
            <td>Student Name</td>
            <td id="stu_1"></td>
        </tr>
        <tr>
            <td>Father Name</td>
            <td id="fat_1"></td>
        </tr>
        <tr>
            <td>Class/Section</td>
            <td id="sec_1"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td id="dat_1"></td>
        </tr>
        <tr>
            <td>Late Fee</td>
            <td id="lat_1"></td>
        </tr>
        <tr>
            <td>Total Fee</td>
            <td id="tot_1"></td>
        </tr>
    </table>
    </div>
    <div id="div2" class="flex-item">
        <table>
            <tr>
                <td>Student id<input type="text" id="fees_id_2" ></input></td>
            </tr>
            <tr>
                <td>Receipt No<input type = "text" id="rec_no_2" ></input></td>
            </tr>
            <tr>
                <td>Late fees<input type = "number" id="late_fee_2"></input></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-info" onclick="fees_2(this)">Check</button></td>
            </tr>
        </table>
        <table style="display: none" id="table_2">
            <tr>
                <td>Receipt No.</td>
                <td id="rec_2"></td>
            </tr>
            <tr>
                <td>Admn No.</td>
                <td id="admn_2"></td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td id="stu_2"></td>
            </tr>
            <tr>
                <td>Father Name</td>
                <td id="fat_2"></td>
            </tr>
            <tr>
                <td>Class/Section</td>
                <td id="sec_2"></td>
            </tr>
            <tr>
                <td>Date</td>
                <td id="dat_2"></td>
            </tr>
            <tr>
                <td>Late Fee</td>
                <td id="lat_2"></td>
            </tr>
            <tr>
                <td>Total Fee</td>
                <td id="tot_2"></td>
            </tr>
        </table>
        </div>
    </div>
    </div>
</body>

</html>